<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
    .provinces-list a,
    h2,
    h3,
    .sgog-single h1,
    .sgog-single h2 {
      text-transform: capitalize;
    }

    co-coen {
      width: 600px;
      height: 400px;
    }

    .sgog-list {
      padding: 0;
    }

    .sgog-list li {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0;
    }

    .sgog-single picture:first-child {
      view-transition-name: sgog-single-image;
    }

    @view-transition {
      navigation: auto;
    }
    </style>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>