<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
    h1, h2 {
      text-transform: capitalize;
    }
    </style>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>