<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
    .provinces-list a,
    h2,
    h3 {
      text-transform: capitalize;
    }

    @view-transition {
      navigation: auto;
    }
    </style>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>