---
layout: base.vto
---

<article>
  <img src="{{ image }}" alt="{{ title }}" width="600" transform-images="avif webp 600@1,1.5,2">
  {{ if ai_image }}
  <img src="{{ ai_image }}" alt="{{ title }}" width="600" transform-images="avif webp 600@1,1.5,2">
  {{ /if }}
  <h1>{{ title }}</h1>
  <p>{{ content }}</p>
</article>
